body{
    font-family: sans-serif;
    background: url(../img/img4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.form{
    font-style: normal;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    width: 350px;
    max-width: 300px;
    text-align:center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    border-style: ridge;
}
.img{
    text-align: center;
   background-position: center center;
}

.input1{

    width: 100%;
    margin-top: 15px;
    height: 40px;
    font-size: 18px;
    opacity: 0.8;
    text-align: center;
}
.label{
    width: 40px;
    margin-top: 25px;
    height: 40px;
    font-size: 28px;

    color: #000 ;
    font-weight: bold;
}


h1{
    font-size: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
}