*{
    margin: 0;
    padding: 0;

}
#content{
    text-align: center;
    background: url(../img/img4.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

}
#content h1{
    font-size: 80px;
    font-weight: normal;
    margin:  auto;
    width: 50%;
    padding-top: 15%;
}